@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Poppins",sans-serif;
}

@theme {
  --color-bl: #6636c6;
  --color-rd: #e45c5c;
  --color-yl: #e3e76d;
  --color-gr: #38c636;
  --color-purple: #8B5CF6;
  --color-pink: #EC4899;
  --color-blue: #3B82F6;
  --color-main: #910a42;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #1c1c1c;
  white-space: nowrap;
  width: 0;
  animation: typing 2s steps(15, end) forwards, blink-caret 0.75s step-end 3;
}

@keyframes typing {
  from { width: 0; }
  to { width: 4ch; } /* Match the number of characters */
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #7c7276 }
}


@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(250%);
  }
}

.animate-loading-bar {
  animation: loading-bar 2s infinite linear;
}

